.icon-logo {
    display: inline-block;
    fill: #6B1647;
    font-size: 32.3rem;
    width: 1em;
    height: .17em;
}

.icon-instruction {
    display: inline-block;
    fill: #fff;
    font-size: 3.3rem;
    width: 1em;
    height: .9em;
}

.icon-pharmacy {
    display: inline-block;
    fill: #fff;
    font-size: 4.7rem;
    width: 1em;
    height: .9em;
}

.icon-drop {
    display: inline-block;
    fill: #b8b8b8;
    font-size: 3.2rem;
    width: 1em;
    height: 1.5em;
}

.icon-virus {
    display: inline-block;
    fill: #fff;
    font-size: 7.4rem;
    width: 1em;
    height: 1em;
}

.icon-eyes {
    display: inline-block;
    fill: #fff;
    font-size: 7rem;
    width: 1em;
    height: 1em;
}
.icon-scroll {
    display: inline-block;
    fill: #fff;
    font-size: 3rem;
    width: 1em;
    height: 1.3em;
}