.icon-logo {
    display: inline-block;
    fill: #6B1647;
    font-size: 323px;
    width: 1em;
    height: .17em;
}

.icon-instruction {
    display: inline-block;
    fill: #fff;
    font-size: 33px;
    width: 1em;
    height: .9em;
}

.icon-pharmacy {
    display: inline-block;
    fill: #fff;
    font-size: 47px;
    width: 1em;
    height: .9em;
}

.icon-drop {
    display: inline-block;
    fill: #b8b8b8;
    font-size: 32px;
    width: 1em;
    height: 1.5em;
}

.icon-virus {
    display: inline-block;
    fill: #fff;
    font-size: 74px;
    width: 1em;
    height: 1em;
}

.icon-eyes {
    display: inline-block;
    fill: #fff;
    font-size: 70px;
    width: 1em;
    height: 1em;
}
.icon-scroll {
    display: inline-block;
    fill: #fff;
    font-size: 30px;
    width: 1em;
    height: 1.3em;
}