.onepage-pagination {
    z-index: 100;
}

.header-layout {

    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    background-color: #fff;
    z-index: 100;
}

.header {
    padding: 2rem 0;
    //height: 96px;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-items: center;
    max-width: 1100px;
    margin: 0 auto;

    .c-btn {
        span {
            white-space: nowrap;
        }
    }
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0;
    bottom: 0;
    width: 14.1rem;
    background-color: #6b2349;
    z-index: 90;
}

.main {
    box-sizing: border-box;
    position: relative;
    // margin-right: 141px;
}

.main * {
    box-sizing: border-box;
}

.section {
    padding: 16rem 0 4rem;
    width: 100%;
    -webkit-background-size: cover;
    background-size: cover;
    background-position: 50% 50%;
    box-sizing: border-box;
    position: relative;
    overflow: hidden;

    &-elem-1,
    &-elem-2,
    &-elem-3,
    &-elem-4,
    &-elem-5,
    &-elem-6,
    &-elem-7,
    &-elem-8 {
        img {
            width: 100%;
        }
    }

    &-1 {
        .section-elem-1 {
            position: absolute;
            top: 55%;
            left: 0%;
            z-index: 10;
            width: 30.6rem;
        }
        .section-elem-2 {
            position: absolute;
            top: 14%;
            right: 14%;
            width: 13.6rem;
        }
        .section-elem-3 {
            position: absolute;
            top: 34%;
            right: 9%;
            width: 24.2rem;
        }

        .section-elem-4 {
            position: absolute;
            top: 31%;
            right: 9%;
            width: 92.2rem;
        }

        .section-elem-5 {
            position: absolute;
            top: 34%;
            left: -3%;
            width: 29.4rem;
        }

        .section-elem-6 {
            position: absolute;
            top: 1%;
            left: 1%;
            width: 183.9rem;
        }
    }

    &-2 {
        .c-layout-col {
            &:nth-child(1) {
                width: 40%;
            }
            &:nth-child(2) {
                width: 60%;
            }
        }

        .section-elem-1 {
            position: absolute;
            top: 70%;
            right: 2%;
            width: 36rem;
        }

        .section-elem-2 {
            position: absolute;
            top: 0%;
            right: 0%;
            width: 147.7rem;
        }
    }

    &-3 {
        .section-elem-1 {
            position: absolute;
            top: 70%;
            left: 6%;
            z-index: 10;
            width: 31.3rem;
        }
        .section-elem-2 {
            position: absolute;
            top: 47%;
            left: 0;
            z-index: 10;
            width: 17.9rem;
        }

        .section-elem-3 {
            position: absolute;
            top: 0%;
            left: 0;
            z-index: 10;
            width: 185.8rem;
        }

        .c-layout-col:nth-child(1) {
            width: 43%;
        }
    }

    &-4 {
        .c-layout-col {
            &:nth-child(1) {
                width: 30%;
            }
            &:nth-child(2) {
                width: 70%;
            }
        }

        .section-elem-1 {
            position: absolute;
            top: 8%;
            right: 2%;
            z-index: 10;
            width: 63.5rem;
        }

        .section-elem-2 {
            position: absolute;
            bottom: 4%;
            left: 20%;
            z-index: 10;
            width: 53.9rem;
        }
        .section-elem-3 {
            position: absolute;
            bottom: 0%;
            right: 0%;
            z-index: 10;
            width: 140.5rem;
        }
    }

    &-5 {

        .section-elem-1 {
            position: absolute;
            top: 76%;
            left: 4%;
            z-index: 10;
            width: 26.7rem;
        }
        .section-elem-2 {
            position: absolute;
            top: 47%;
            left: 0;
            z-index: 10;
            width: 17.8rem;
        }

        .section-elem-3 {
            position: absolute;
            top: 0;
            left: 0;
            z-index: 10;
            width: 185.8rem;
        }
    }
    
    .a-turn-1,
    .a-turn-2,
    .a-turn-3,
    .a-turn-4,
    .a-turn-5,
    .a-turn-6,
    .a-turn-7,
    .a-turn-8,
    .a-turn-9 {
        opacity: 0;
    }

    &.active {
        transition: all .1s ease-in-out;

        .a-turn-1 {
            animation: .4s fadeInUp .5s forwards;
        }

        .a-turn-2 {
            animation: .5s fadeInUp .7s forwards;
        }

        .a-turn-3 {
            animation: .5s fadeInUp .8s forwards;
        }

        .a-turn-4 {
            animation: .55s fadeInUp .85s forwards;
        }

        .a-turn-5 {
            animation: .57s fadeInUp .9s forwards;
        }

        .a-turn-6 {
            animation: .59s fadeInUp .95s forwards;
        }
    }
}


@keyframes fadeInUpOp {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}

@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translate3d(0, 50px, 0);
    }
    100% {
        opacity: 1;
        transform: translate3d(0, 0, 0);
    }
}


/*----------------------------*/

#fp-nav {
    padding-top: 10%;
    width: 14.1rem;
    height: 84%;
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-items: stretch;
    right: 0 !important;
    margin-top: 0 !important;
    transform: translateY(-50%);
    ul {
        height: 100%;

        li {
            height: 15%;
            //height: 144px;
            position: relative;
            cursor: pointer;

            .fp-sr-only {
                display: block;
                text-align: center;
                font-size: 2rem;
                color: #49092b;
                width: 5rem;
                height: 5rem;
                line-height: 5rem;
                font-family: 'Myriad Pro Cond', sans-serif;
                position: absolute;
                z-index: 10;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
                transition: all .2s ease;
            }

            a {
                display: block;
                width: 100%;
                height: 100%;
                &.active {
                    position: relative;
                    .fp-sr-only {
                        color: #000;
                        &::after {
                            content: '';
                            position: absolute;
                            z-index: -1;
                            width: 5rem;
                            height: 5rem;
                            background-color: #fff;
                            border-radius: 10rem;
                            top: 50%;
                            left: 50%;
                            transform: translate(-50%,-50%);
                            transition: all .2s ease;
                            background-image: -moz-linear-gradient( 90deg, rgb(254,254,254) 0%, rgb(251,251,251) 100%);
                            background-image: -webkit-linear-gradient( 90deg, rgb(254,254,254) 0%, rgb(251,251,251) 100%);
                            background-image: -ms-linear-gradient( 90deg, rgb(254,254,254) 0%, rgb(251,251,251) 100%);
                            box-shadow: 0px 5px 14.22px 3.78px rgba(0, 0, 0, 0.3);

                        }
                    }

                    &::after {
                        content: '';
                        height: 100%;
                        width: .2rem;
                        background-color: #fff;
                        position: absolute;
                        top: 0;
                        left: 0;
                    }
                }
                span {
                    background-color: transparent;
                }
            }

            &:hover {
                .fp-sr-only {
                    color: #ffffff;
                }
            }
        }
    }



    .fp-tooltip {
        display: none !important;
    }
}


/*about-----------------------*/
.main-page {
    width: 70%;
    position: relative;
    height: 100%;

    .c-title {
        color: #ffffff;
        font-size: 6rem;
    }

    &__subtitle {
        font-size: 2.5rem;
        text-transform: uppercase;
        color: #ffffff;
        font-family: 'Myriad Pro', sans-serif;
        margin-bottom: 4rem;
    }

    .c-btn {
        max-width: 25rem;
        padding: 2rem 8rem;
        font-size: 2.5rem;
    }

    &__scroll {
        position: absolute;
        top: 76%;
        left: 0;
        font-family: 'Myriad Pro', sans-serif;
        font-size: 1.6rem;
        color: #ffffff;
        letter-spacing: .3rem;
        text-transform: uppercase;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        text-decoration: none;

        svg {
            margin-right: 1.5rem;
        }
    }
}


/*about-----------------------*/
.about {
    &-subtitle {
        font-size: 2.2rem;
        color: #ffffff;
        font-family: 'Myriad Pro Cond', sans-serif;
        margin-bottom: 5.6rem;
    }

    &-list {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: stretch;
        margin-bottom: 6.4rem;

        &__item {
            margin-right: 2rem;

            &:last-child {
                margin-right: 0;
            }
        }
    }

    &-card {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;
        padding: 2.1rem 2.6rem;
        border: .2rem solid #d6d5da;
        border-radius: 15rem;

        &__icon {
            margin-right: 1.6rem;
        }

        &__text {
            color: #ffffff;
            font-family: 'Avanti', sans-serif;
            font-size: 1.8rem;
            line-height: 1.1;
        }
    }

    &-note {
        padding: 1.1rem 1.1rem 1.1rem 0;
        font-size: 1.8rem;
        color: #ffffff;
        line-height: 1;
        font-family: 'Avanti', sans-serif;

        position: relative;
        z-index: 10;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: -200rem;
            right: 0;
            z-index: -1;
            height: 100%;
            background-color: #2e4828;
            opacity: .9;
        }
    }
}

/*testimony-----------------------*/
.testimony {

    .c-title {
        margin-bottom: 1.4rem;
    }

    &-subtitle {
        font-size: 2.2rem;
        line-height: 1.1;
        color: #ffffff;
        font-family: 'Myriad Pro Cond', sans-serif;
        margin-bottom: 6rem;
    }

    &-list {
        margin-bottom: 4rem;

        &__item {
            margin-bottom: 2rem;
        }
    }

    &-card {
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: center;

        &__icon {
            display: inline-block;
            padding: .5rem 1rem;
            background-color: #74395b;
            border-radius: .6rem;
            margin-right: 2.3rem;
            color: #ffffff;
            font-weight: 700;
            flex: 0 1 4rem;
            font-size: 2rem;
        }

        &__text {
            font-size: 2.5rem;
            color: #ffffff;
            font-family: 'Myriad Pro', sans-serif;
            font-weight: 700;
            line-height: 1;
            text-transform: uppercase;

            div {
                text-transform: lowercase;
                font-size: 2.2rem;
                font-family: 'Myriad Pro Cond', sans-serif;
                font-weight: 400;
            }
        }
    }

    &-note {
        color: #ffffff;
        font-family: 'Myriad Pro Cond', sans-serif;
        font-size: 2.2rem;
    }
}


/*storage-------------------------*/
.storage {
    &-temp {
        display: inline-block;
        font-family: 'Avanti', sans-serif;
        font-size: 3rem;
        margin-bottom: 4.4rem;
        padding: 2rem 4.4rem 2rem 0;
        color: #ffffff;
        position: relative;
        z-index: 10;

        &::after {
            content: '';
            position: absolute;
            top: 0;
            left: -200rem;
            right: 0;
            z-index: -1;
            height: 100%;
            background-color: #7d4464;
            opacity: .8;
        }

        span {
            font-size: 7.2rem;
        }
    }



    &-advantages {
        &__title {
            font-size: 4.5rem;
            color: #ffffff;
            font-family: 'Avanti', sans-serif;
            font-weight: 700;
            line-height: 1.4;
            margin-bottom: 2.2rem;
            text-transform: uppercase;
        }

        &__list {
            display: flex;
            flex-flow: row nowrap;
            justify-content: space-between;
            align-items: center;
        }

        &__item {
            width: 33%;
            margin-right: 1.4rem;

            &:last-child {
                margin-right: 0;
            }
        }

        &-card {
            padding: 2.2rem 3rem;
            background-color: rgba(255,255,255, .8);
            border-radius: 100px;
            font-family: 'Avanti', sans-serif;
            text-align: center;

            &__title {
                font-size: 1.8rem;
                line-height: 1.2;
                margin-bottom: .4rem;
                text-transform: uppercase;
                color: #6b2349;
                font-weight: 700;
            }

            &__text {
                font-size: 1.8rem;
                line-height: 1.2;
                color: #373737;
            }
        }


    }
}












/*scheme-------------------------*/
.scheme {

    &-card {
        padding: 2.4rem 4rem;
        border-radius: .7rem;
        background-color: rgba(255,255,255,.6);
        margin-bottom: 1.6rem;


        &__title {

            font-size: 2.5rem;
            text-transform: uppercase;
            color: #98145a;
            font-family: 'Avanti', sans-serif;
            font-weight: 700;
            margin-bottom: 1rem;
            line-height: 1;

        }

        &__subtitle {
            font-size: 2.5rem;
            color: #a9457f;
            font-family: 'Myriad Pro Cond', sans-serif;
            line-height:1;
            margin-bottom: 1.2rem;
        }

        &__row {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: flex-end;
        }

        &__drop {
            font-size: 3rem;
            color: #373737;
            vertical-align: bottom;

            svg {
                position: relative;
                top: .3rem;
            }
        }

        &__num {
            color: #373737;
            font-size: 5.5rem;
            line-height: 4.4rem;
            white-space: nowrap;
        }

        &-icon {
            color: #373737;
            font-family: 'Avanti', sans-serif;
            font-size: 3rem;
            line-height: 1.7;
            padding: 0 .9rem;
        }

        &-time {
            display: flex;
            flex-flow: row nowrap;
            justify-content: flex-start;
            align-items: flex-end;
            color: #373737;
            font-family: 'Avanti', sans-serif;
            white-space: nowrap;

            &__num {
                color: #373737;
                font-size: 5.5rem;
                line-height: 4.4rem;
                margin-right: .8rem;
                white-space: nowrap;
            }

            &__body  {

            }

            &__score {
                display: block;
                font-size: 2rem;
                line-height: 1.8rem;
                white-space: nowrap;
            }

            &__month {
                display: block;
                font-size: 3rem;
                white-space: nowrap;
            }
        }
    }
}


/*buy-------------------------*/
.buy {
    &-list {
        &__item {
            margin-bottom: 3.4rem;

            &:last-child {
                margin-bottom: 0;
            }
        }
    }

    &-card {
        padding-left: 9rem;
        display: flex;
        flex-flow: row nowrap;
        justify-content: flex-start;
        align-items: flex-start;
        position: relative;


        &__icon {
            position: absolute;
            top: 0;
            left: 0;
            width: 7rem;
            height: 7rem;
            border: 1px solid #fff;
            border-radius: 10rem;

            svg {
                position: absolute;
                top: 50%;
                left: 50%;
                transform: translate(-50%,-50%);
            }
        }

        &__body {
            margin-right: 2rem;
        }

        &__title {
            color: #373737;
            font-size: 2.2rem;
            text-transform: uppercase;
            margin-bottom: .8rem;
            line-height: 1;
            font-weight: 700;
        }

        &__text {
            color: #5c5c5c;
            font-size: 1.5rem;
            font-family: 'Myriad Pro', sans-serif;
            line-height: 1;
        }

        &__price {
            color: #6b2349;
            font-size: 4rem;
            font-weight: 400;
            white-space: nowrap;
        }
    }
}



















/*footer-------------------------*/
.footer {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    background-color: #283d24;
    padding: 2rem 1.6rem;
}

.footer-text {
    text-align: center;
    color: #ffffff;
    font-size: 4rem;
    font-family: 'Myriad Pro Cond', sans-serif;

    a {
        color: #ffffff;

    }
}



/*instruction------------------------*/
.instruction {
    padding-top: 14rem;
    font-size: 1.8rem;
    margin-bottom: 4rem;
    position: relative;
    width: 100%;
    
    &-page {
        overflow: hidden;
    }

    &-elem-1 {
        position: absolute;
        top: 30%;
        left: -22%;
    }
    &-elem-2 {
        position: absolute;
        top: 69%;
        left: -30%;
    }
    &-elem-3 {
        position: absolute;
        top: 56%;
        right: -24%;
    }

    .c-title {
        font-size: 6rem;
    }

    &-info {
        padding: 2.6rem 3rem;
        background-color: rgba(255,255,255,.3);
        border-radius: 1rem;
        margin-bottom: 3rem;
        position: relative;

        .instruction-text {
            margin-bottom: 2rem;

            &:last-child {
                margin-bottom: 0;
            }
        }

        &-elem {
            position: absolute;
            right: 0;
            top: 10%;

            &__1 {
                position: relative;
                top: 4rem;
                left: 15%;
            }
            &__2 {
                position: relative;
                top: 1rem;
                left: -1rem;
            }
        }
    }

    &-page {
        display: block;
        -webkit-background-size: cover;
        background-size: cover;
        background: url(../img/bg-page.jpg) 0 0  repeat;

        .main {
            display: block;
        }
    }

    &-text {
        color: #5c5c5c;
        font-family: 'Myriad Pro', sans-serif;
        font-weight: 400;
        margin-bottom: 4rem;
        line-height: 1.2;

        p {
            display: inline;
        }

        b {
            font-family: 'Myriad Pro Cond', sans-serif;
        }

        ul {
            padding: 0;
            margin: 0;
            li {
                &::before {
                    content: '•';
                    display: inline-block;
                    margin-right: 6px;
                }
            }
        }
    }

    &-title {
        font-family: 'Avanti', sans-serif;
        color: #373737;
        display: inline;
        text-transform: uppercase;
    }

    &-elem {

        &-4 {
            position: absolute;
            top: 0%;
            left: 3%;
        }

        &-5 {
            position: absolute;
            top: 0%;
            right: 0%;
        }

        &-6 {
            position: absolute;
            bottom: 0%;
            left: 0%;
        }
    }

}


























