@media (max-width: 1600px){
    .section-4 {
        .section-elem-1 {
            top: 60%;
            right: 2%;
        }
    }
}
@media (max-width: 1450px){
    .sidebar {
        display: none;
    }

    #fp-nav ul li a.active::after {
        content: '';
        display: none;
    }

    #fp-nav .fp-sr-only::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 5rem;
        height: 5rem;
        background-color: #fff;
        border-radius: 10rem;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        background-image: -ms-linear-gradient(90deg, #fefefe 0%, #fbfbfb 100%);
        -webkit-box-shadow: 0px 5px 14.22px 3.78px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 5px 14.22px 3.78px rgba(0, 0, 0, 0.3);
    }

    #fp-nav ul li a.active .fp-sr-only::after {
        content: '';
        background-color: #49092b;
        color: #ffffff;
    }

    #fp-nav ul li a.active .fp-sr-only {
        color: #ffffff;
    }

    #fp-nav ul li:hover .fp-sr-only {
        color: #000000;
    }

    #fp-nav {
        height: auto;
        width: auto;
        right: 2.4rem !important;
        padding-top: 0;

    }

    #fp-nav ul li a {
        text-decoration: none;
    }

    #fp-nav ul li .fp-sr-only {
        position: relative;
        width: 5rem;
        height: 5rem;
        top: auto;
        left: auto;
        transform: none;
    }

    #fp-nav ul li {
        height: auto;
        margin-bottom: 1.5rem
    }
}

@media (max-height: 860px), (max-width: 1300px) {

    .header {
        padding: 1rem 0;

        .icon-logo {
            font-size: 23rem;
        }

        .c-btn {
            display: inline-block;
            padding: 1.2rem 4.3rem;
            font-size: 1.6rem;
        }

        .icon-instruction {
            display: inline-block;
            fill: #fff;
            font-size: 1.9rem;
            width: 1em;
            height: .9em;
        }

        .c-btn svg {
            margin-right: .3rem;
            position: relative;
            top: .2rem;
        }

    }

    .section {
        padding: 10rem 0 4rem;
    }

    .c-title {
        //font-size: 50px;
        margin: 0 0 16px 0;
    }

    .scheme-card {
        padding: 1.7rem 2.6rem;
    }

    .main-page .c-btn {
        max-width: 100%;
        display: inline-block;
        padding: 1.5rem 5.5rem;
        font-size: 2rem;
    }

    .main-page__subtitle {
        margin-bottom: 2rem;
    }


    .footer {
        padding: 1.4rem 1.6rem;

        &-text {
            font-size: 2.7rem;
        }
    }
}

@media (max-width: 1150px){
    .c-layout {
        padding: 0 9rem 0 3.2rem;
    }

    .header {
        padding: 1rem 3.2rem;
    }

    #fp-nav ul li .fp-sr-only {
        position: relative;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
    }

    #fp-nav .fp-sr-only::after,
    #fp-nav ul li a.active .fp-sr-only::after {
        content: '';
        width: 4rem;
        height: 4rem;
    }

    .main-page .c-title {
        //font-size: 45px;
    }
    .c-title {
        //font-size: 38px;
    }
    .main-page .c-title {
        color: #ffffff;
        font-size: 5.5rem;
    }

    .section-2  {
        .c-layout-col {
            &:nth-child(1) {
                width: 0;
            }
            &:nth-child(2) {
                width: 71%;
            }
        }
    }

    .section-3 {
        background-position: 90% 50%;
        .c-layout-col {
            &:nth-child(1) {
                width: 55%;
            }
            &:nth-child(2) {
                width: 0;
            }
        }
    }

    .section-4 {
        background-position: 90% 50%;
        .c-layout-col {
            &:nth-child(1) {
                width: 0;
            }
        }
    }

    .section-5 {
        .c-layout-col {
            &:nth-child(1) {
                width: 73%;
            }
            &:nth-child(2) {
                width: 0;
            }
        }
    }

    .section-6 {
        background-position: 74% 50%;
        .c-layout-col {
            &:nth-child(1) {
                width: 0;
            }
            &:nth-child(2) {
                width: 73%;
            }
        }
    }

    .storage-advantages__title {
        font-size: 3.7rem;
    }

    .storage-advantages-card__title,
    .storage-advantages-card__text {
        font-size: 1.5rem;
    }

    .storage-advantages-card {
        padding: 1.3rem 2.5rem;
    }

    .main-page {
        width: 100%;
    }
}

@media (max-width: 1024px) and (max-height: 1366px){

    html {
        font-size: 13px;
    }
    .section-5 .c-layout-col:nth-child(1) {
        width: 90%;
    }

    .section-3,
    .section-4,
    .section-6 {
        background-position: 50% 50%;
    }


    .about-list {
        display: block;

        &__item {
            margin-right: 0;
            margin-bottom: 2rem;
        }
    }

    .storage-advantages {

        &__list {
            display: block;
        }

        &__item {
            margin-right: 0;
            margin-bottom: 2rem;
            width: 65%;
        }
    }

    .icon-virus,
    .icon-eyes {
        display: none;
    }

    .about-card__text {
        font-size: 2.3rem;
    }


    .about-subtitle {
        font-size: 2.7rem;
        margin-bottom: 2.4rem;
    }

    .testimony-subtitle {
        font-size: 2.7rem;
    }

    .buy-card__text {
        font-size: 2rem;
    }
}


@media (max-width: 768px) and (max-height: 1024px){
    html {
        font-size: 10px;
    }
}

@media (max-width: 730px) {
    html {
        font-size: 6px;
    }

    .section-3 .c-layout-col:nth-child(1),
    .section-2 .c-layout-col:nth-child(2),
    .section-5 .c-layout-col:nth-child(1),
    .section-4 .c-layout-col:nth-child(2),
    .section-6 .c-layout-col:nth-child(2) {
        width: 100%;
    }

    .buy-card__icon {
        display: none;
    }

    .buy-card {
        padding-left: 0;
    }

    .buy-list {
        padding: 2rem;
        border-radius: 1rem;
        background-color: rgba(255,255,255,.7);
    }

    .c-layout {
        padding: 0 7rem 0 3.2rem;
    }

    .storage-temp span {
        font-size: 5.2rem;
    }

    .storage-temp {
        margin-bottom: 3rem;
    }

    .storage-advantages-card__title, .storage-advantages-card__text {
        font-size: 2rem;
    }

    .storage-advantages__item {
        width: 90%;
    }

    .buy-list__item {
        margin-bottom: 2.4rem;
    }
    .buy-card__body {
        margin-right: 1rem;
    }

    .buy-card__price {
        font-size: 3rem;
    }
}

@media (max-width: 640px) {
    .c-title {
        font-size: 4rem;
    }

    .main-page .c-title {
        font-size: 3.7rem;
    }

    .scheme-card__num {
        font-size: 4rem;
    }

    .scheme-card-time__month {
        font-size: 2.2rem;
    }

    .scheme-card-time__num {
        font-size: 4rem;
        line-height: 4rem;
        margin-right: .6rem;
    }

    .scheme-card__drop svg {
        top: .6rem;
    }
}