@media (max-width: 1600px){
    .section-4 {
        .section-elem-1 {
            top: 60%;
            right: 2%;
        }
    }

    .section-1 .section-elem-2 {
        right: 7%;
    }

    .section-1 .section-elem-3 {
        top: 43%;
        right: 3%;
    }

    .section-1 .section-elem-1 {
        top: 72%;
        left: 13%;
    }

    .section-3 .section-elem-1 {
        top: 85%;
    }

    .section-3 .section-elem-2 {
        left: -5%;
    }

}
@media (max-width: 1450px){
    .sidebar,
    .c-hamburger {
        display: none;
    }

    #fp-nav ul li a.active::after {
        content: '';
        display: none;
    }

    #fp-nav .fp-sr-only::after {
        content: '';
        position: absolute;
        z-index: -1;
        width: 5rem;
        height: 5rem;
        background-color: #fff;
        border-radius: 10rem;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        -webkit-transition: all .2s ease;
        -o-transition: all .2s ease;
        transition: all .2s ease;
        background-image: -ms-linear-gradient(90deg, #fefefe 0%, #fbfbfb 100%);
        -webkit-box-shadow: 0px 5px 14.22px 3.78px rgba(0, 0, 0, 0.3);
        box-shadow: 0px 5px 14.22px 3.78px rgba(0, 0, 0, 0.3);
    }

    #fp-nav ul li a.active .fp-sr-only::after {
        content: '';
        background-color: #49092b;
        color: #ffffff;
    }

    #fp-nav ul li a.active .fp-sr-only {
        color: #ffffff;
    }

    #fp-nav ul li:hover .fp-sr-only {
        color: #000000;
    }

    #fp-nav {
        height: auto;
        width: auto;
        right: 2.4rem !important;
        padding-top: 0;

    }

    #fp-nav ul li a {
        text-decoration: none;
    }

    #fp-nav ul li .fp-sr-only {
        position: relative;
        width: 5rem;
        height: 5rem;
        top: auto;
        left: auto;
        transform: none;
    }

    #fp-nav ul li {
        height: auto;
        margin-bottom: 1.5rem
    }
}


@media (max-width: 1300px){
    .section-1 .section-elem-2 {
        right: 0%;
    }

    .section-1 .section-elem-3 {
        top: 45%;
        right: -9%;
    }

    .section-3 .section-elem-2 {
        display: none;
    }

    .section-4 .section-elem-1 {
        top: 58%;
        right: -68%;
    }

    .instruction .c-title {
        font-size: 3.4rem;
    }

    .instruction {
        padding-top: 9rem;
    }
}

@media (max-height: 860px), (max-width: 1300px) {

    .header {
        padding: 1rem 0;

        .icon-logo {
            font-size: 23rem;
        }

        .c-btn {
            display: inline-block;
            padding: 1.2rem 4.3rem;
            font-size: 1.6rem;
        }

        .icon-instruction {
            display: inline-block;
            fill: #fff;
            font-size: 1.9rem;
            width: 1em;
            height: .9em;
        }

        .c-btn svg {
            margin-right: .3rem;
            position: relative;
            top: .2rem;
        }

    }

    .section {
        padding: 10rem 0 4rem;
    }

    .c-title {
        //font-size: 50px;
        margin: 0 0 16px 0;
    }

    .scheme-card {
        padding: 1.7rem 2.6rem;
    }

    .main-page .c-btn {
        max-width: 100%;
        display: inline-block;
        padding: 1.5rem 5.5rem;
        font-size: 2rem;
    }

    .main-page__subtitle {
        margin-bottom: 2rem;
    }


    .footer {
        padding: 1.4rem 1.6rem;

        &-text {
            font-size: 2.7rem;
        }
    }
}

@media (max-width: 1150px){
    .c-layout {
        padding: 0 9rem 0 3.2rem;
    }



    .instruction-page .c-layout {
        padding: 0 3.2rem 0 3.2rem;
    }

    .header {
        padding: 1rem 3.2rem;
    }

    #fp-nav ul li .fp-sr-only {
        position: relative;
        width: 4rem;
        height: 4rem;
        line-height: 4rem;
    }

    #fp-nav .fp-sr-only::after,
    #fp-nav ul li a.active .fp-sr-only::after {
        content: '';
        width: 4rem;
        height: 4rem;
    }

    .main-page .c-title {
        //font-size: 45px;
    }
    .c-title {
        //font-size: 38px;
    }
    .main-page .c-title {
        color: #ffffff;
        font-size: 5.5rem;
    }

    .section-2  {
        .c-layout-col {
            &:nth-child(1) {
                width: 0;
            }
            &:nth-child(2) {
                width: 71%;
            }
        }
    }

    .section-3 {
        background-position: 90% 50%;
        .c-layout-col {
            &:nth-child(1) {
                width: 55%;
            }
            &:nth-child(2) {
                width: 0;
            }
        }
    }

    .section-4 {
        background-position: 90% 50%;
        .c-layout-col {
            &:nth-child(1) {
                width: 0;
            }
        }
    }

    .section-5 {
        .c-layout-col {
            &:nth-child(1) {
                width: 73%;
            }
            &:nth-child(2) {
                width: 0;
            }
        }
    }

    .section-6 {
        background-position: 74% 50%;
        .c-layout-col {
            &:nth-child(1) {
                width: 0;
            }
            &:nth-child(2) {
                width: 73%;
            }
        }
    }

    .storage-advantages__title {
        font-size: 3.7rem;
    }

    .storage-advantages-card__title,
    .storage-advantages-card__text {
        font-size: 1.5rem;
    }

    .storage-advantages-card {
        padding: 1.3rem 2.5rem;
    }

    .main-page {
        width: 100%;
    }

    .instruction-info-elem__2 {
        display: none;
    }

    .instruction-info-elem__1 {
        top:0;
        left: 0;
    }

    .instruction-info-elem {
        width: 88px;
        overflow: hidden;
        right: 0;
        top: auto;
        bottom: 2%;
    }

    .instruction-info-list {
        padding-right: 4rem;
    }
}

@media (max-width: 1024px) and (max-height: 1366px){

    html {
        font-size: 13px;
    }
    .section-5 .c-layout-col:nth-child(1) {
        width: 90%;
    }

    .section-3,
    .section-4,
    .section-6 {
        background-position: 50% 50%;
    }


    .about-list {
        display: block;

        &__item {
            margin-right: 0;
            margin-bottom: 2rem;
        }
    }

    .storage-advantages {

        &__list {
            display: block;
        }

        &__item {
            margin-right: 0;
            margin-bottom: 2rem;
            width: 65%;
        }
    }

    .icon-virus,
    .icon-eyes {
        display: none;
    }

    .about-card__text {
        font-size: 2.3rem;
    }


    .about-subtitle {
        font-size: 2.7rem;
        margin-bottom: 2.4rem;
    }

    .testimony-subtitle {
        font-size: 2.7rem;
    }

    .buy-card__text {
        font-size: 1.8rem;
        line-height: 1.2;
    }
}


@media (max-width: 769px) and (max-height: 1025px){
    html {
        font-size: 9px;
    }
}

@media (max-width: 1024px) and (max-height: 768px){
    html {
        font-size: 10px;
    }
}

// @media (max-width: 1100px) {
//     .header {
//         background-color: rgb(208, 224, 255);
//     }
//     html {
//         font-size: 8px;
//     }
// }


@media (max-width: 730px) {


    .section-3 .c-layout-col:nth-child(1),
    .section-2 .c-layout-col:nth-child(2),
    .section-5 .c-layout-col:nth-child(1),
    .section-4 .c-layout-col:nth-child(2),
    .section-6 .c-layout-col:nth-child(2) {
        width: 100%;
    }

    .buy-card__icon {
        display: none;
    }

    .buy-card {
        padding-left: 0;
    }

    .buy-list {
        padding: 2rem;
        border-radius: 1rem;
        background-color: rgba(255,255,255,.7);
    }

    .c-layout {
        padding: 0 7rem 0 3.2rem;
    }

    .storage-temp span {
        font-size: 4rem;
    }

    .storage-temp {
        margin-bottom: 3rem;
    }

    .storage-advantages-card__title, .storage-advantages-card__text {
        font-size: 2rem;
    }

    .storage-advantages__item {
        width: 90%;
    }

    .buy-list__item {
        margin-bottom: 2.4rem;
    }
    .buy-card__body {
        margin-right: 1rem;
    }

    .buy-card__price {
        font-size: 3rem;
    }

    .storage-temp span {
        font-size: 4rem;
    }

    .storage-advantages-card {
        position: relative;
        padding: 0 0 0 5rem;
        background-color: transparent;
        text-align: left;

        &::after {
            content: '→';
            position: absolute;
            top: 0;
            left: 0;
            display: inline-block;
            padding: .5rem 1rem;
            background-color: #74395b;
            border-radius: .6rem;
            margin-right: 2.3rem;
            color: #ffffff;
            font-weight: 700;
            -webkit-box-flex: 0;
            -ms-flex: 0 1 4rem;
            flex: 0 1 4rem;
            font-size: 2rem;
        }
    }

    .section-1 .section-elem-1 {
        display: none;
    }

    .section-1 .section-elem-2 {
        width: 10.6rem;
    }

    .section-1 .section-elem-3 {
        width: 18.2rem;
    }

    .section-5 .section-elem-1 {
        top: 89%;
    }

    .section-5 .section-elem-2 {
        top: 69%;
        left: -15%;
    }

    .instruction-text {
        margin-bottom: 2rem;
    }

    .instruction-elem-1,
    .instruction-elem-2 {
        display: none;
    }

    .instruction-elem-3 {
        top: 3%;
        right: -47%;
    }

    .about-list {
        margin-bottom: 2rem;
    }
}

@media (max-width: 640px) {
    .c-title {
        font-size: 3.6rem;
        line-height: 1.1;
    }

    .main-page .c-title {
        font-size: 3.3rem;
    }

    .scheme-card__num {
        font-size: 4rem;
    }

    .scheme-card-time__month {
        font-size: 2.2rem;
    }

    .scheme-card-time__num {
        font-size: 4rem;
        line-height: 4rem;
        margin-right: .6rem;
    }

    .scheme-card__drop svg {
        top: .6rem;
    }

    .storage {
        padding-left: 6rem;
    }

    .storage-advantages-card__title,
    .storage-advantages-card__text {
        //font-size: 2.6rem;
    }

    html {
        font-size: 8px;
    }

    .instruction-info-elem {

        right: 0;
        top: 10%;
        bottom: auto;
    }
}

@media (max-width: 440px) {

    .scheme-card__num,
    .scheme-card-time__num {
        font-size: 3.6rem;
    }

    .section-1 {
        background-position: 61% 50%;
    }

    .storage-temp span {
        font-size: 3.6rem;
    }

}


@media (max-device-width: 450px) {
    .header {
        // background-color: rgb(130, 231, 110);
    }
    html {
        font-size: 8px;
    }

    .about-subtitle, .testimony-subtitle {
        font-size: 3rem;
        line-height: 1.1;
        margin-bottom: 2rem;
    }

    .scheme-card__num,
    .scheme-card-time__num {
        font-size: 4.4rem;
        line-height: 3.6rem;
    }

    .scheme-card {
        padding: 2rem 1.4rem;
    }

    // .c-layout,
    // .instruction-page .c-layout {
    //     padding: 0 2rem 0 3.2rem;
    // }

    .scheme-card__subtitle {
        margin-bottom: 0.6rem;
    }

    .buy-list__item {
        margin-bottom: 1.6rem;
    }

    .about-card__text {
        font-size: 1.9rem;
    }

    .storage-advantages__title {
        font-size: 3rem;
    }

    .storage-advantages-card__title,
    .storage-advantages-card__text {
        font-size: 2.2rem;
    }

    
    .section-5 {
        padding-top: 10rem;
    }

    .section-6 .c-title {
        font-size: 3.2rem;  
    }

    .buy-card__body {
        margin-right: .3rem;
    }
}

@media (max-width: 400px) {
    html {
        font-size: 7px;
    }

    .storage-advantages-card__title,
    .storage-advantages-card__text {
        // font-size: 2.6rem;
    }


    .instruction {
        font-size: 2.7rem;
    }

}


@media (max-width: 380px) {

    .about-subtitle,
    .testimony-subtitle {
        // font-size: 3.6rem;
        // line-height: 1.3;
    }

    .section-3 {
        padding-top: 14rem;
    }

    .testimony-note {
        font-size: 2.7rem;
    }
    .testimony-card__text {
        font-size: 2.7rem;
    }
}


@media (max-width: 340px) {
    html {
        font-size: 6px;
    }
}